@import url('https://fonts.googleapis.com/css?family=Ewert&display=swap');


body {
    background-color: #32a8a6;
background-image: linear-gradient(315deg, hsla(209, 100%, 50%, 0.534) 0%, #05ec78 74%);


}
h2 {
    font-family: 'Ewert', cursive;
}